<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript">
    function loginWithKakao() {
        alert('loginWithKakao');

     /*   $.ajax({
            url: '/login/getKakaoAuthUrl',
            type: 'get',
            async: false,
            dataType: 'text',
            success: function (res) {
                location.href = res;
            }
        });*/

    }
</script>
<body>
    <button onclick="loginWithKakao()">버튼</button>
</body>
</html>